<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MathJax Example</title>
    
    <!-- MathJaxのスクリプトを追加 -->
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>

<form method="post" action="/calculate" class="input">
    Enter \(n\) and \(k\) .<br>
    <p> \(n\) <input type="number" name="n" value={{n}} required> \( \ \ n = {{n}} \ \ \) 
        <input type="submit" value="Run"></p>
    <p> \(k\) <input type="number" name="k" value={{k}} required> \( \ \ k = {{k}} \ \ \) 
        <input type="submit" value="Run"></p>
</form>


<!-- <form method="post" action="{{ url_for('register') }}" class="input">
  \(k={{k}}\) <br>
  <p> \(n\) <input type="number" name="n" value={{n}} required> \( \ \ n = {{n}} \ \ \) 
      <input type="submit" value="Run">
  </p>
  <p> \(t\) <input type="number" name="tt" value={{tt}} required> \( \ \ t = {{tt}} \ \ \) 
    <input type="submit" value="Run">
  </p>
  
  <p>
    <label><input type="radio" name="display_mode" value="relation" checked>Relation</label> &nbsp;
    
    {% if display_mode == "E-image" %}
        <label><input type="radio" name="display_mode" value="E-image" checked>\(E\)-image</label> &nbsp;
    {% else %}
        <label><input type="radio" name="display_mode" value="E-image">\(E\)-image</label> &nbsp;
    {% endif %}
    
    {% if display_mode == "H-image" %}
        <label><input type="radio" name="display_mode" value="H-image" checked>\(H\)-image</label> &nbsp;
    {% else %}
        <label><input type="radio" name="display_mode" value="H-image">\(H\)-image</label> &nbsp;
    {% endif %}
    
    {% if display_mode == "P-image" %}
        <label><input type="radio" name="display_mode" value="P-image" checked>\(\Delta\)-image</label> &nbsp;
    {% else %}
        <label><input type="radio" name="display_mode" value="P-image">\(\Delta\)-image</label> &nbsp;
    {% endif %}
    
    {% if display_mode == "stable" %}
        <label><input type="radio" name="display_mode" value="stable" checked>Stable</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    {% else %}
        <label><input type="radio" name="display_mode" value="stable">Stable</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    {% endif %}
  </p>
</form> -->
</html>
